[Unit]
Description=Le Cavernobot (bot Discord multi-fonctions)
After=network.target

[Service]
Type=simple
User=1001
Group=1001
WorkingDirectory=/home/cavernobot/bot
ExecStart=/home/cavernobot/bot/cavernobot
Restart=on-failure
# Other restart options: always, on-abort, etc

# The install section is needed to use
# `systemctl enable` to start on boot
# For a user service that you want to enable
# and start automatically, use `default.target`
# For system level services, use `multi-user.target`
[Install]
WantedBy=multi-user.target
